<ion-header>
  <ion-navbar>
    <ion-title>
      Welcome
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <button *ngIf="userReady && user.loginType == 'facebook'" ion-button color="dark" (click)="doFbLogout()">Facebook Logout</button>
  <button *ngIf="userReady && user.loginType == 'mobileApp'" ion-button color="dark" (click)="doMobileAppLogout()">Logout</button>
  <br/>
  <img *ngIf="userReady && user.picture != null" src="{{user.picture}}" />
  <br/>
  <p>
    <ion-icon ios="ios-contact" md="md-contact"> </ion-icon> {{user?.email}}
  </p>
</ion-content>
